/* Reset root styles */
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

/* Remove unused template styles */
.logo,
.logo:hover,
.logo.react:hover,
.card,
.read-the-docs {
  display: none;
}

/* Remove animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: none;
  }
}
